* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #464646;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1 {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 47px;
    line-height: 48px;
    font-weight: 700;
    letter-spacing: 0.17px;
    color: #000000;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}
 /* Header */

.bg {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 60px;
    background-color: #EDEFF1;
}

.main-navigation {
    width: 1200px;
    height: 32px;
    margin: 0 auto;
}

/* Main-screen */

.main-screen {
    width: 1200px;
    margin: 0 auto;
}

.content {
    width: 1130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header {
    font-family: 'PT Sans', sans-serif;
    font-size: 58px;
    font-weight: 700;
    line-height: 64px;
    color: #333333;
    margin-bottom: 25px;
}

.subtitle {
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    color: #333333;
    margin-bottom: 40px;
}

.button {
    display: inline-block;
    width: auto;
    height: 50px;
    padding: 0 30px;
    background-color: #D53A2E;
    box-shadow: 1px 2px 4px rgba(177, 46, 35, 0.2);
    border-radius: 3px;
    font-family: 'pt_sansbold', 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 50px;
    color: #ffffff;
    cursor: pointer;
}

.button:hover {
    background-color: #EB2D1E;
    box-shadow: 3px 3px 6px rgba(177, 46, 35, 0.2);
}

.button:active {
    background-color: #CF2A1D;
}

.button:focus {
    background-color: #CF2A1D;
}

.main-image {
     width: 362px;
     height: 420px;
}

.ref p {
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    color: #333333;
    margin-bottom: 10px;
}

/* Steps */

.steps-img {
    width: 394px;
    height: 450px;
}

/* Callout */

/* Footer */