* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

main {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #464646;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1 {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 38px;
    line-height: 44px;
    font-weight: 700;
    letter-spacing: 0.17px;
    color: #000000;
}

h2 {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 47px;
    line-height: 48px;
    font-weight: 700;
    letter-spacing: 0.17px;
    color: #000000;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

/* Header */

.main-navigation {
    width: 1200px;
    height: 32px;
    margin: 0 auto;
}

/* Main-screen */

.main-screen-bg {
    background-color: #FFFFB3;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 60px;
    height: 100%;
}

.main-screen {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1130px;
    margin-bottom: 70px;
    margin-top: 50px;
}

.main-header {
    margin-bottom: 20px;
    font-family: 'PT Sans', sans-serif;
    font-size: 58px;
    font-weight: 700;
    line-height: 64px;
    color: #333333;
}

.subtitle {
    margin-bottom: 40px;
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    color: #333333;
}

.button {
    display: inline-block;
    width: auto;
    height: 50px;
    padding: 0 30px;
    background-color: #D53A2E;
    box-shadow: 1px 2px 4px rgba(177, 46, 35, 0.2);
    border-radius: 3px;
    font-family: 'pt_sansbold', 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 50px;
    color: #ffffff;
    cursor: pointer;
}

.button:hover {
    background-color: #EB2D1E;
    box-shadow: 3px 3px 6px rgba(177, 46, 35, 0.2);
}

.button:active {
    background-color: #CF2A1D;
}

.button:focus {
    background-color: #CF2A1D;
}

.button div {
    display: flex;
}

.button p {
    margin-right: 12px;
}

.main-image {
    width: 362px;
    height: 420px;
}

.ref {
    height: 70px;
}

.ref p {
    margin-bottom: 10px;
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    color: #333333;
}

/* Steps */

.container {
    width: 1200px;
    margin: 0 auto;
}

.how-to {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1046px;
    margin: 175px 0;
    padding: 0 40px;
}

.how-to-description {
    margin-top: -35px;
}

.steps-img {
    width: 394px;
    height: 450px;
}

.tag {
    display: inline-block;
    width: auto;
    height: 26px;
    margin-bottom: 20px;
    padding: 0 10px;
    background-color: #FFCC00;
    border-radius: 2px;
    font-family: 'PT Sans', sans-serif;
    font-size: 10px;
    font-weight: 700;
    color: #333333;
    letter-spacing: 0.83px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
}

.search .tag {
    background-color: #2FAD4A;
    color: #ffffff;
}

.result .tag {
    background-color: #FFAA0C;
    color: #ffffff;
}

.steps {
    width: 420px;
    margin-bottom: 20px;
    font-family: 'PT Sans', sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 44px;
    color: #333333;
}

.text {
    width: 390px;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: #333333;
}

/* Callout */

.callout-screen {
    margin-top: 160px;
}

.callout-screen .center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.callout {
    margin-bottom: 50px;
    font-family: 'PT Sans', sans-serif;
    font-size: 46px;
    font-weight: 700;
    line-height: 52px;
    text-align: center;
    color: #333333;
}

.emoji-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 310px;
    height: 90px;
    margin-bottom: 36px;
}

.emoji {
    width: 70px;
    height: 70px;
}

.text-center {
    margin-top: 15px;
    text-align: center;
}

/* Footer */

.footer-bg {
    width: 100%;
    height: 100%;
}

.last-screen {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.footer {
    margin: 140px auto 30px;
}

.footer-logo {
    margin-bottom: 20px;
}

.copyright {
    display: flex;
    justify-content: space-between;
}

.left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    height: 44px;
}

.copyright-text {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #333333;
}

.disclaimer {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #9BA2AB; 
}

.right-side {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

    height: 44px;
}

.author {
    display: flex;
}

.right-side .role {
    margin-right: 5px;

    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #9BA2AB;
}

.right-side .name {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #333333;
}

/*
    Sprite icons
*/ 

.icon-search {
    padding-top: 32px;
    width: 64px;
}

.icon-search i {
    display: block;
    transform: scale(0.5);
    position: relative;
    top: -32px;
    left: -32px;
}

.bg-emoji {
    background-image: url('../source/css_sprites_tiny.png');
    width: 128px;
}

.bg-no_speak {
    height: 128px;
    background-position: -158px -349px;
}

.bg-flower {
    height: 132px;
    background-position: -454px -10px;
}

.bg-focus {
    height: 144px;
    background-position: -10px -185px;
}

.bg-fries {
    height: 136px;
    background-position: -306px -185px;
}

.bg-ghost {
    height: 116px;
    background-position: -306px -649px;
}

.bg-love {
    height: 128px;
    background-position: -306px -349px;
}

.bg-magic {
    height: 146px;
    background-position: -158px -10px;
}

.bg-no_hear {
    height: 128px;
    background-position: -454px -349px;
}

.bg-no_see {
    height: 128px;
    background-position: -602px -10px;
}

.bg-palm {
    height: 146px;
    background-position: -306px -10px;
}

.bg-pasta {
    height: 110px;
    background-position: -454px -649px;
}

.bg-pizza {
    height: 155px;
    background-position: -10px -10px;
}

.bg-plane {
    height: 128px;
    background-position: -602px -158px;
}

.bg-prawn {
    height: 118px;
    background-position: -158px -649px;
}

.bg-robot {
    height: 132px;
    background-position: -454px -162px;
}

.bg-shy {
    height: 128px;
    background-position: -602px -306px;
}

.bg-spok {
    height: 143px;
    background-position: -158px -185px;
}

.bg-star_eyes {
    height: 124px;
    background-position: -750px -306px;
}

.bg-unicorn {
    height: 128px;
    background-position: -10px -501px;
}

.bg-avo {
    height: 132px;
    background-position: -10px -349px;
}

.bg-ball {
    height: 128px;
    background-position: -158px -501px;
}

.bg-balloon {
    height: 128px;
    background-position: -306px -501px;
}

.bg-broccoli {
    height: 128px;
    background-position: -454px -501px;
}

.bg-bunny {
    height: 128px;
    background-position: -602px -501px;
}

.bg-car {
    height: 102px;
    background-position: -602px -649px;
}

.bg-chinese_devil {
    height: 128px;
    background-position: -750px -10px;
}

.bg-cookie {
    height: 121px;
    background-position: -10px -649px;
}

.bg-devil {
    height: 123px;
    background-position: -750px -450px;
}

.bg-doggo {
    height: 128px;
    background-position: -750px -158px;
}

.bg-eyes {
    height: 99px;
    background-position: -750px -649px;
}